html {
    font-size: 6.25%;
}

body {
    font-size: 16rem;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* ====nav-section===== */

/* nav-bar */

.nav-bar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    padding-left: 1em;
    background-color: #E7E2DD;
}

.nav-toggle-btn {
    border: none;
    font-size: 26rem;
    background-color: transparent;
    transition: opacity 0.5s;
}

.nav-toggle-btn:hover,
.nav-toggle-btn:focus {
    opacity: 0.4;
    cursor: pointer;
}

/* nav-list modal section*/
.nav-list-modal-div {
    background-color:#dbd8d5;
    position: fixed;
    z-index: 999;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    visibility: hidden;
}

.close-nav-list-btn-div {
    display: flex;
    justify-content: flex-end;
}

.close-nav-btn {
    border: none;
    background-color: transparent;
    font-size: 28rem;
    margin: 0.5em;
    color: #102A42;
    transition: transform linear 0.3s, opacity 0.5s;
}

.close-nav-btn:hover,
.close-nav-btn:active {
    transform: rotate(180deg);
    cursor: pointer;
    opacity: 0.4;
}

.nav-list-ul {
    list-style: none;
    font-size: 18rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #102A42;
    display: block;
    padding: 0.5em 0;
    transition: font-weight 0.5s, transform 0.5s;
}

.nav-link:hover,
.nav-link:focus {
    font-weight: 700;
    transform: scale(1.2);
}

/* ====main section===== */

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 48rem;
    margin: 0;
    text-transform: capitalize;
    font-weight: 400;
}

p {
    text-align: justify;
    color: #102A42;
}

main {
    background: url(./images-design/bg2.jpg) center/cover no-repeat;
    height: 95vh;
    min-height: 350px;
    display: flex;
    align-items: center;

}

hr {
    width: 15%;
    max-width: 98px;
    min-width: 57px;
    height: 4px;
    margin: 0;
    margin-left: 4em;
    margin-top: 0.2em;
    background-color: #F09D51;
    border: none;
}

.main-section-container {
    background: rgba(255, 255, 255, 0.7);
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 250px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)
}



@media (min-width: 800px) {

    /* nav-section */
    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        background-color: #E7E2DD;
    }
    .nav-list-modal-div {
        visibility: visible !important;
        position: static;
        height: fit-content;
        width: auto;
        background-color: #E7E2DD;
    }
    .nav-list-ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    
    .nav-link {
        padding: 0;
        margin: 0 1em;
    }

    .nav-link:hover,
    .nav-link:focus {
        font-weight: 400;
    }

    .close-nav-btn {
        display: none;
    }

    .nav-toggle-btn {
        display: none;
    }

    /* main-section */
    h1 {
        font-size: 52rem;
    }

    p {
        font-size: 20rem;
    }

}