html {
    font-size: 6.25%;
}

body {
    font-size: 16rem;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* ====nav-section===== */

/* nav-bar */

.nav-bar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
    padding-left: 1em;
    background-color: #E7E2DD;
}

.nav-toggle-btn {
    border: none;
    font-size: 26rem;
    background-color: transparent;
    transition: opacity 0.5s;
}

.nav-toggle-btn:hover,
.nav-toggle-btn:focus {
    opacity: 0.4;
    cursor: pointer;
}

/* nav-list modal section*/
.nav-list-modal-div {
    background-color: #fae9c2;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}

.close-nav-list-btn-div {
    display: flex;
    justify-content: flex-end;
}

.close-nav-btn {
    border: none;
    background-color: transparent;
    font-size: 28rem;
    margin: 0.5em;
    color: #102A42;
    transition: all linear 0.3s;
}

.close-nav-btn:hover,
.close-nav-btn:active {
    transform: rotate(180deg);
    cursor: pointer;
    opacity: 0.4;
}

.nav-list-ul {
    list-style: none;
    font-size: 18rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 0;
    padding-bottom: 1em;
    margin: 0;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #102A42;
    display: block;
    padding-bottom: 0.5em;
    transition: all linear 0.2s;
}

.nav-link:hover,
.nav-link:focus {
    font-weight: 700;
    transform: scale(1.2);
}

/* ====main section===== */

h1,
p {
    font-family: 'Kaushan Script', cursive;
    text-transform: capitalize;
}

h1 {
    font-size: 48rem;
    margin: 0;
}

p {
    font-size: 22rem;
    letter-spacing: 0.15em;
}

.main-sec {
    background: url(./images-design/hero-bcg.jpeg) center/cover no-repeat;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-content-div {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    text-align: center;
    padding: 2em 1em;
}

.shop-btn {
    font-size: 16rem;
    font-weight: 700;
    background-color: #F09D51;
    color: #102A42;
    text-transform: uppercase;
    border: none;
    padding: 1em 3em;
    letter-spacing: 0.2em;
    margin-top: 1em;
    border-radius: 5px;
    transition: transform 0.5s;
}

.shop-btn:hover,
.shop-btn:focus {
    cursor: pointer;
    transform: scale(1.2);
}


@media (min-width: 800px) {

    /* nav-section */
    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        background-color: #E7E2DD;
    }
    .nav-list-modal-div {
        visibility: visible;
        position: static;
        height: fit-content;
        width: auto;
    }
    .nav-list-ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        background-color: #E7E2DD;
    }
    
    .nav-link {
        padding: 0;
        margin: 0 1em;
    }

    .nav-link:hover,
    .nav-link:focus {
        font-weight: 400;
    }

    .close-nav-btn {
        display: none;
    }

    .nav-toggle-btn {
        display: none;
    }

    /* main-section */
    h1 {
        font-size: 56rem;
    }

    p {
        font-size: 28rem;
    }

}